<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/publicstyle.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/edit_profile.css">
  <title>Document</title>
</head>

<body>
  <div id="zhezhao">
  </div>
  <div class="headtop">
    <div class="headtop_content">
      <div class="headtop_left">
        <a href="javascript:;">全部产品</a>
        <a href="javascript:;">专柜查询<img src="../img/icon/loc.ba2ed9ca.png" alt=""></a>
      </div>
      <div class="headtop_right">
        <a href="help.html">帮助中心</a>
        <div class="htr_help">
          <div>
            <h2>如何获得我们的帮助？</h2>
            <a href="helpproblem.html">常见问题</a>
            <a href="javascript:;">使用条款</a>
            <a href="javascript:;">隐私声明</a>
            <a href="javascript:;">cookies政策</a>
            <a href="javascript:;">知识产权和版权</a>
            <a href="javascript:;">网站地图</a>
          </div>
          <div>
            <h2>联系我们</h2>
            <p>在线客服：周一-周日早上9点-晚上24点</p>
            <p>电话客服：周一-周五早上9点-下午18点</p>
            <p>致电400-820-6499</p>
            <button class="btn-black">在线咨询</button>
          </div>
        </div>
        <a href="javascript:;" id="htrmag">订阅电子杂志</a>
        <div class="htr_mag">
          <div>
            <h2>订阅电子杂志</h2>
            <p>输入您的邮箱地址*</p>
            <input type="text">
            <input type="checkbox" id="head_dingyue">
            <label for="head_dingyue">
              我同意依照本<a href="javascript:;">使用条款</a>和<a href="javascript:;">隐私政策</a>对我的个人信息进行收集和使用；我已阅读并确认被给予充分机会理解该<a
                href="javascript:;">使用条款</a>和<a href="javascript:;">隐私政策</a>的内容。</label>
            <button class="btn-black">订阅</button>
          </div>
          <div>
            <h2>您的权益</h2>
            <p>报名参加我们的电子邮件通讯，享受我们的会员特权</p>
            <ul>
              <li>了解新产品和活动信息</li>
              <li>获取潮流妆容技巧</li>
              <li>尊奢会员专属礼遇</li>
            </ul>
          </div>
        </div>
        <a href="javascript:;" id="htrlogin">登录与注册</a>
        <div class="htr_login">
          <div class="htr_login_left">
            <div class="tab-btn">
              <div class="seled">密码登录</div>
              <div>验证码登录</div>
            </div>
            <div>
              <div class="form-password">
                <div class="form-line">
                  <label for="">邮箱/手机<i>*</i></label>
                  <input type="text" name="uname">
                  <span id="chahao" style="opacity: 0;"><img src="../img/icon/叉号.png" alt=""> 邮箱或手机格式不正确</span>
                  <span id="duihao" style="opacity: 0;"><img src="../img/icon/对号.png" alt=""></span>
                </div>
                <div class="form-line">
                  <label for="">您的密码<i>*</i></label>
                  <input type="text" name='upwd'>
                </div>
                <div class="form-line login-rememberme">
                  <input type="checkbox" id="rememberuname">
                  <label for="rememberuname">记住用户名</label>
                  <a href="javascript:;">忘记密码？</a>
                </div>
                <button class="btn-black" id="login">登录</button>
              </div>
              <div class="form-verification">
                <div class="form-line">
                  <label for="">您的手机<i>*</i></label>
                  <input type="text">
                </div>
                <div class="form-line image-code">
                  <label for="">请输入验证码<i>*</i></label>
                  <input type="text">
                  <div></div>
                </div>
                <div class="form-line msg-code">
                  <label for="">短信验证码<i>*</i></label>
                  <input type="text">
                  <button>发送</button>
                </div>
                <div class="form-line login-rememberme">
                  <input type="checkbox" id="rememberme">
                  <label for="rememberme">
                    我同意依照本<a href="javascript:;">使用条款</a>和<a
                      href="javascript:;">隐私政策</a>对我的个人信息进行收集和使用；我已阅读并确认被给予充分机会理解该<a href="javascript:;">使用条款</a>和<a
                      href="javascript:;">隐私政策</a>的内容。<i>*</i>
                  </label>
                </div>
                <button class="btn-black">登录</button>
              </div>
            </div>
          </div>
          <div class="htr_login_center">
            <div class="before">或</div>
            <div>
              <h3>使用合作网站账号登陆</h3>
              <div>
                <div>
                  <img src="../img/icon/下载.png" alt="">
                  <p>微信</p>
                </div>
                <div>
                  <img src="../img/icon/下载 (1).png" alt="">
                  <p>支付宝</p>
                </div>
              </div>
            </div>
          </div>
          <div class="htr_login_right">
            <h2>创建新账号</h2>
            <p>注册成为植村秀官网会员，下单流程更流畅，并可查看您的订单记录，</p>
            <p>追踪订单物流，第一时间获取官网最新资讯</p>
            <button class="btn-black" id="btn_register">立即注册</button>
          </div>
        </div>
        <a href="javascript:;" id="htrloginsuccess" style="display: none;">欢迎您，<span></span><img
            src="../img/icon/chahao.png" alt="" id="loginout"></a>
        <div class="htr_loginsuccess" style="display: none;">
          <div>
            <h2>欢迎 <span>梦梦</span></h2>
            <a href="edit_profile.html?edit=order">我的订单</a>
            <a href="edit_profile.html?edit=use">个人资料</a>
            <a href="edit_profile.html?edit=vouchers">卡券中心</a>
            <a href="edit_profile.html?edit=address">地址簿</a>
            <a href="edit_profile.html?edit=wishlist">我的心愿单</a>
            <a href="edit_profile.html?edit=sample">我的试用装</a>
            <button class="btn-black" id="loginout">退出</button>
          </div>
          <div>
            <h2>会员权益</h2>
            <p>创建您的植村秀账户，享受奢享以下权益：</p>
            <ul>
              <li>了解新产品和活动信息</li>
              <li>获取潮流妆容技巧</li>
              <li>尊奢会员专属礼遇</li>
            </ul>
          </div>
        </div>
        <a href="cart.html">购物袋(<span>0</span>)<img src="../img/icon/gouwudai.png" alt=""></a>
        <div class="htr_shopcar">
          <div class="noproduct">
            <div class="hshopcar_tip">
              <div>
                <p>您的购物袋中没有任何商品</p>
                <a href="http://127.0.0.1:3000/">立即选购您喜欢的产品</a>
              </div>
              <div class="hshopcar_list"></div>
            </div>
            <div></div>
            <div>
              <h3>您可能喜欢</h3>
              <div></div>
              <ul>
                <li>
                  <img src="../img/product/白底图.jpg" alt="" onclick="window.location.href='details.html?id=11'">
                  <p>绿茶新肌洁颜油</p>
                  <div>
                    <img src="../img/icon/Star.png" alt=""><img src="../img/icon/Star.png" alt=""><img
                      src="../img/icon/Star.png" alt=""><img src="../img/icon/Star.png" alt=""><img
                      src="../img/icon/Star.png" alt="">
                  </div>
                  <p>￥290 - ￥750</p>
                </li>
                <li>
                  <img src="../img/product/F6879000U_0_01.jpg" alt=""
                    onclick="window.location.href='details.html?id=7'">
                  <p>自动砍刀眉笔</p>
                  <div>
                    <img src="../img/icon/Star1.png" alt=""><img src="../img/icon/Star1.png" alt=""><img
                      src="../img/icon/Star1.png" alt=""><img src="../img/icon/Star1.png" alt=""><img
                      src="../img/icon/Star1.png" alt="">
                  </div>
                  <p>￥140 - ￥260</p>
                </li>
                <li>
                  <img src="../img/product/F5635500U_01.jpg" alt="" onclick="window.location.href='details.html?id=8'">
                  <p>控油泡沫隔离*</p>
                  <div>
                    <img src="../img/icon/Star1.png" alt=""><img src="../img/icon/Star1.png" alt=""><img
                      src="../img/icon/Star1.png" alt=""><img src="../img/icon/Star1.png" alt=""><img
                      src="../img/icon/Star1.png" alt="">
                  </div>
                  <p>￥390</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="hasproduct" style="display: none;">
            <div class="carttitle">
              <div>您的购物袋</div>
              <div>数量</div>
              <div>价格</div>
            </div>
            <div class="cartcontent">
            </div>
            <div class="carttolprice">
              <p>总计：</p>
              <p>￥260</p>
            </div>
            <button class="btn-red">立即结算</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="head" data-fix>
    <div class="headcenter">
      <div class="headcenter_content">
        <div class="headcenter_left">
          <img src="../img/logo/logo.03fce175.jpg" alt="">
          <a href="brandshow.html?brand=danpin">明星产品</a>
          <div>
            <a href="brandshow.html?brand=jieyan">洁颜家族</a>
            <a href="brandshow.html?brand=danpin">匠心单品</a>
          </div>
          <a href="brandshow.html?brand=VIP">会员尊享</a>
          <div>
            <a href="brandshow.html?brand=VIP">会员礼遇</a>
            <a href="javascript:;">甄选超值套组</a>
          </div>
          <a href="searchpro.html?search=彩妆">彩妆</a>
          <div>
            <div class="navcaizhuang_top">
              <div>
                <a href="javascript:;">唇部</a>
                <a href="searchpro.html?search=唇膏">唇膏</a>
                <a href="searchpro.html?search=唇釉">唇釉</a>
              </div>
              <div>
                <a href="javascript:;">脸部</a>
                <a href="searchpro.html?search=粉底">粉底系列</a>
                <a href="searchpro.html?search=遮瑕">遮瑕系列</a>
                <a href="searchpro.html?search=隔离">隔离系列</a>
                <a href="searchpro.html?search=腮红">腮红系列</a>
                <a href="searchpro.html?search=高光">高光系列</a>
              </div>
              <div>
                <a href="javascript:;">眼部</a>
                <a href="searchpro.html?search=眉妆">眉妆</a>
                <a href="searchpro.html?search=眼影">眼影</a>
                <a href="searchpro.html?search=眼线">眼线</a>
              </div>
            </div>
            <div></div>
            <div class="navcaizhuang_bottom">
              <div>
                <img src="../img/product/kinu_0002_KS RD188.jpg" alt=""
                  onclick="window.location.href='details.html?id=1'">
                <div>
                  <p>全新无色限绢感唇膏</p>
                  <p id="1">￥285</p>
                  <button class="btn-black" color="#9d2235" buy="KS RD 188 3.3g" id="insertcart">立即购买</button>
                </div>
              </div>
              <div>
                <img src="../img/product/M RD784.png" alt="" onclick="window.location.href='details.html?id=2'">
                <div>
                  <p>全新无色限柔雾唇膏</p>
                  <p id="2">￥260</p>
                  <button class="btn-black" color="#d32e4d" buy="M PK355 3g" id="insertcart">立即购买</button>
                </div>
              </div>
              <div>
                <img src="../img/product/HF-白底.jpg" alt="" onclick="window.location.href='details.html?id=6'">
                <div>
                  <p>砍刀眉笔</p>
                  <p id="6">￥200</p>
                  <button class="btn-black" color="#5a4837" buy="灰棕02 3.4g 匠心限定版" id="insertcart">立即购买</button>
                </div>
              </div>
              <div>
                <img src="../img/product/584.jpg" alt="" onclick="window.location.href='details.html?id=5'">
                <div>
                  <p>羽纱持妆粉底液</p>
                  <p id="5">￥430</p>
                  <button class="btn-black" color="#ffead6" buy="584 35ml 中一白" id="insertcart">立即购买</button>
                </div>
              </div>
            </div>
          </div>
          <a href="searchpro.html?search=护肤">护肤</a>
          <div>
            <div class="navcaizhuang_top">
              <div>
                <a href="javascript:;">根据类别</a>
                <a href="searchpro.html?search=洁颜油">洁颜油/洁颜啫喱</a>
                <a href="searchpro.html?search=面部喷雾">面部喷雾</a>
              </div>
              <div>
                <a href="javascript:;">根据肌肤需求</a>
                <a href="searchpro.html?search=面部喷雾">面部保湿</a>
              </div>
              <div>
                <a href="javascript:;">根据产品</a>
                <a href="searchpro.html?search=洁颜油">洁颜油系列</a>
              </div>
            </div>
            <div></div>
            <div class="navcaizhuang_bottom">
              <div>
                <img src="../img/other/洁颜家族图-144x85.jpg" alt="">
                <div>
                  <p>洁颜油世家</p>
                  <p></p>
                  <button class="btn-black" onclick="window.location.href='brandshow.html?brand=jieyan'">了解详情</button>
                </div>
              </div>
              <div>
                <img src="../img/product/U8-白底.jpg" alt="" onclick="window.location.href='details.html?id=10'">
                <div>
                  <p>琥珀养肤洁颜油</p>
                  <p id="10">￥890</p>
                  <button class="btn-black" color="#fff" buy="450ml 匠心限定版" id="insertcart">立即购买</button>
                </div>
              </div>
              <div>
                <img src="../img/product/白底图.jpg" alt="" onclick="window.location.href='details.html?id=11'">
                <div>
                  <p>绿茶新肌洁颜油</p>
                  <p id="11">￥750</p>
                  <button class="btn-black" color="#fff" buy="450ml" id="insertcart">立即购买</button>
                </div>
              </div>
              <div>
                <img src="../img/product/新 大净透油.jpg" alt="" onclick="window.location.href='details.html?id=12'">
                <div>
                  <p>净透焕颜洁颜油</p>
                  <p id="12">￥750</p>
                  <button class="btn-black" color="#fff" buy="450ml" id="insertcart">立即购买</button>
                </div>
              </div>
            </div>
          </div>
          <a href="searchpro.html?search=工具">工具</a>
          <div>
            <div class="navcaizhuang_top">
              <div>
                <a href="javascript:;">刷具</a>
                <a href="searchpro.html?search=粉底刷具">粉底刷具</a>
                <a href="searchpro.html?search=刷具套装">刷具套装</a>
              </div>
              <div>
                <a href="javascript:;">其他工具</a>
                <a href="searchpro.html?search=睫毛夹">睫毛夹</a>
              </div>
            </div>
            <div></div>
            <div class="navcaizhuang_bottom">
              <div>
                <img src="../img/other/WechatIMG1812.png" alt="">
                <div>
                  <p>匠心刷具</p>
                  <p></p>
                  <button class="btn-black" onclick="window.location.href='brandshow.html?brand=brush'">了解详情</button>
                </div>
              </div>
              <div>
                <img src="../img/product/55-白底.jpg" alt="" onclick="window.location.href='details.html?id=16'">
                <div>
                  <p>55号刷</p>
                  <p id="16">￥480</p>
                  <button class="btn-black" color="#fff" buy="匠心限定版" id="insertcart">立即购买</button>
                </div>
              </div>
              <div>
                <img src="../img/product/F2282800U_01.jpg" alt="" onclick="window.location.href='details.html?id=15'">
                <div>
                  <p>睫毛夹</p>
                  <p id="15">￥180</p>
                  <button class="btn-black" color="#fff" buy="常规款" id="insertcart">立即购买</button>
                </div>
              </div>
            </div>
          </div>
          <a href="brandshow.html?brand=story">品牌故事</a>
        </div>
        <div class="headcenter_right">
          <div class="checkbox" data-searchbox><span>绢感唇膏</span></div>
          <a href="cart.html" data-gouwudai>购物袋(<span>0</span>)<img src="../img/icon/gouwudai.png" alt=""></a>
          <div class="htr_shopcar">
            <div class="noproduct2">
              <div class="hshopcar_tip">
                <div>
                  <p>您的购物袋中没有任何商品</p>
                  <a href="http://127.0.0.1:3000/">立即选购您喜欢的产品</a>
                </div>
                <div class="hshopcar_list"></div>
              </div>
              <div></div>
              <div>
                <h3>您可能喜欢</h3>
                <div></div>
                <ul>
                  <li>
                    <img src="../img/product/白底图.jpg" alt="" onclick="window.location.href='details.html?id=11'">
                    <p>绿茶新肌洁颜油</p>
                    <div>
                      <img src="../img/icon/Star.png" alt=""><img src="../img/icon/Star.png" alt=""><img
                        src="../img/icon/Star.png" alt=""><img src="../img/icon/Star.png" alt=""><img
                        src="../img/icon/Star.png" alt="">
                    </div>
                    <p>￥290 - ￥750</p>
                  </li>
                  <li>
                    <img src="../img/product/F6879000U_0_01.jpg" alt=""
                      onclick="window.location.href='details.html?id=7'">
                    <p>自动砍刀眉笔</p>
                    <div>
                      <img src="../img/icon/Star1.png" alt=""><img src="../img/icon/Star1.png" alt=""><img
                        src="../img/icon/Star1.png" alt=""><img src="../img/icon/Star1.png" alt=""><img
                        src="../img/icon/Star1.png" alt="">
                    </div>
                    <p>￥140 - ￥260</p>
                  </li>
                  <li>
                    <img src="../img/product/F5635500U_01.jpg" alt=""
                      onclick="window.location.href='details.html?id=8'">
                    <p>控油泡沫隔离*</p>
                    <div>
                      <img src="../img/icon/Star1.png" alt=""><img src="../img/icon/Star1.png" alt=""><img
                        src="../img/icon/Star1.png" alt=""><img src="../img/icon/Star1.png" alt=""><img
                        src="../img/icon/Star1.png" alt="">
                    </div>
                    <p>￥390</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="hasproduct2" style="display: none;">
              <div class="carttitle2">
                <div>您的购物袋</div>
                <div>数量</div>
                <div>价格</div>
              </div>
              <div class="cartcontent2">
              </div>
              <div class="carttolprice2">
                <p>总计：</p>
                <p>￥0</p>
              </div>
              <button class="btn-red">立即结算</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="headsearch">
      <div class="headsearch_content">
        <input type="text" placeholder="绢感唇膏">
        <div></div>
      </div>
    </div>
    <div class="headbottom">
      <img src="../img/other/0705-PC.jpg" alt="">
    </div>
  </div>
  <div class="navhelp">
    <div id="navtitle">
      <span class="localhref" onclick="window.location.href='/'">首页</span>
      <span class="localhref">我的账户</span>
      <span>个人资料</span>
    </div>
  </div>
  <div class="profile_content">
    <div class="profile_top">
      <img src="../img/other/account_login.38f6b52c.jpg" alt="">
      <h1 id="welcomeuser">欢迎 梦梦</h1>
    </div>
    <div class="profile_bottom">
      <div class="profile_left">
        <ul>
          <li class="active" id="use">个人资料</li>
          <li id="address">收货地址</li>
          <li id="vouchers">卡券中心</li>
          <li id="order">我的订单</li>
          <li id="sample">我的试用装</li>
          <li id="wishlist">我的心愿单</li>
        </ul>
        <div class="login_out">
          <i></i><span id="loginout">退出</span>
        </div>
      </div>
      <div class="profile_center">
        <div class="useinfo" id="use">
          <p>个人资料</p>
          <div>编辑我的资料</div>
          <div class="default_form">
            <div class="radio_item">
              <b>称谓</b>
              <label class="test-label">
                <input class="test-radio" type="radio" name="radio">
                <span class="test-radioInput"></span>先生
              </label>
              <label class="test-label">
                <input class="test-radio" type="radio" name="radio">
                <span class="test-radioInput"></span>女士
              </label>
              <label class="test-label">
                <input class="test-radio" type="radio" name="radio">
                <span class="test-radioInput"></span>小姐
              </label>
              <span>(* 必填项)</span>
            </div>
            <div class="form_item">
              <label>姓名*</label>
              <input type="text" id="showname">
            </div>
            <div class="form_item">
              <label>生日*</label>
              <input type="date" id="showbirth">
            </div>
            <div class="form_item">
              <label>手机号*</label>
              <input type="text" id="showphone">
            </div>
            <div class="form_item">
              <label>邮箱*</label>
              <input type="text" id="showemail">
            </div>
            <div class="form_item checkcode">
              <label>验证码*</label>
              <input type="text" placeholder="输入验证码">
              <div>
                <img src="../img/icon/checkcode.png" alt="">
                <div>
                  <p>看不清？</p>
                  <a href="javascript:;">换一张</a>
                </div>
              </div>
            </div>
            <div class="saveupdate">
              <button class="btn-black">保存修改</button>
            </div>
          </div>
          <div class="updatepwd">
            <button class="btn-black">修改密码</button>
          </div>
          <div class="coupon_index">
            <p>我的礼遇</p>
            <div>
              <img src="../img/icon/null.34cf9c65.png" alt="">
              <p>暂无会员礼遇</p>
            </div>
          </div>
        </div>
        <div class="addressinfo" id="address">
          <p>收货地址</p>
          <div>
            <span>我的地址簿</span>
            <button class="btn-black">添加</button>
          </div>
          <div class="no_address">
            <p>您还没有任何收货地址</p>
          </div>
        </div>
        <div class="vouchersinfo" id="vouchers">
          <p>卡券中心</p>
          <ul>
            <li class="tab_selected">未使用</li>
            <li>已使用</li>
            <li>已过期</li>
          </ul>
          <div>
            <div class="voucher_title">
              <img src="../img/icon/钻石.png" alt="">
              <p>会员礼遇</p>
            </div>
            <div class="null_list">
              <img src="../img/icon/null.34cf9c65.png" alt="">
              <p>暂无会员礼遇卡券</p>
            </div>
            <div class="voucher_title">
              <img src="../img/icon/piao.png" alt="">
              <p>官网臻享</p>
            </div>
            <div class="null_list">
              <img src="../img/icon/null.34cf9c65.png" alt="">
              <p>暂无官网臻享卡券</p>
            </div>
          </div>
        </div>
        <div class="orderinfo" id="order">
          <p>我的订单</p>
          <ul>
            <li class="tab_selected">未完成订单(0)</li>
            <li>已完成订单(0)</li>
          </ul>
          <div>
            您还没有任何订单，<a href="/">立即开始购物</a>
          </div>
        </div>
        <div class="sampleinfo" id="sample">
          <p>试用装</p>
          <div>我的试用装</div>
          <p>您还没有添加任何产品</p>
        </div>
        <div class="wishlistinfo" id="wishlist">
          <p>我的心愿单</p>
          <div>心愿单(0件产品)</div>
          <div>
            <p>你还未添加任何产品</p>
            <a href="/">返回首页</a>
          </div>
        </div>
      </div>
      <div class="profile_right">
        <div>
          <div>客服中心</div>
          <p>如有任何问题，请联系我们</p>
          <p>
            <img src="../img/icon/dianhua.png" alt="">
            400-820-6499
          </p>
          <button class="btn-black">在线咨询</button>
        </div>
        <div>
          <div>常见问题</div>
          <a href="helpproblem.html">如何下订单?</a>
          <a href="helpproblem.html">如何查看订单配送状况?</a>
          <a href="helpproblem.html">如何修改和取消订单?</a>
          <button class="btn-black" onclick="window.location.href='helpproblem.html'">查看所有</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 底部 -->
  <div class="warranty">
    <div class="warranty_content">
      <div>
        <img src="../img/icon/授权正品.png" alt="">
        <p>100%官方正品保证</p>
      </div>
      <div>
        <img src="../img/icon/充值.png" alt="">
        <p>支持多种支付方式</p>
      </div>
      <div>
        <img src="../img/icon/我的抢单.png" alt="">
        <p>专享官网特惠礼遇</p>
      </div>
      <div>
        <img src="../img/icon/账号.png" alt="">
        <p>联系我们</p>
        <p>电话400-820-6499</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_content">
      <div>
        <a href="javascript:;">护肤</a>
        <a href="javascript:;">洁颜油</a>
        <a href="javascript:;">面部喷雾</a>
      </div>
      <div>
        <a href="javascript:;">眼部</a>
        <a href="javascript:;">眉妆</a>
        <a href="javascript:;">眼影</a>
        <a href="javascript:;">眼线</a>
      </div>
      <div>
        <a href="javascript:;">唇部</a>
        <a href="javascript:;">唇膏</a>
        <a href="javascript:;">唇釉</a>
      </div>
      <div>
        <a href="javascript:;">脸部</a>
        <a href="javascript:;">粉底系列</a>
        <a href="javascript:;">遮瑕系列</a>
        <a href="javascript:;">隔离系列</a>
      </div>
      <div>
        <a href="javascript:;">工具</a>
        <a href="javascript:;">粉底刷</a>
        <a href="javascript:;">刷具套组</a>
        <a href="javascript:;">睫毛夹</a>
      </div>
      <div>
        <a href="javascript:;">帮助中心</a>
        <a href="javascript:;">常见问题</a>
        <a href="javascript:;">网站如图</a>
      </div>
      <div>
        <a href="javascript:;">安全支付保障</a>
        <a href="javascript:;"></a>
        <a href="javascript:;"></a>
        <a href="javascript:;"></a>
        <a href="javascript:;">关注我们</a>
        <a href="https://weibo.com/shuuemurachina"></a>
        <a href="javascript:;"></a>
        <a href="javascript:;"></a>
        <a href="https://shuuemura.tmall.com/"></a>
        <img src="../img/footer/wechat_qrcode.3a46222f.jpg" alt="">
        <img src="../img/footer/mobile_site_qrcode.782137e6.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="copyright_content">
      <p>国家药监局提示您：宣称用于祛斑美白、防晒、染发、烫发等的化妆品为特殊用途化妆品，产品标签上应标注“国妆特字”或者“国妆特进字”的标准文号。</p>
      <p><a href="javascript:;">使用条款</a> | <a href="javascript:;">Cookies政策</a> | <a href="javascript:;">隐私政策</a></p>
      <p> <a href="javascript:;"><img src="../img/footer/下载3.png" alt=""> 中国工商 </a> <a
          href="javascript:;">沪ICP备08100043-7号</a> <img src="../img/footer/下载4.png" alt=""> <a href="javascript:;">沪公网安备
          31010602001532号</a>©L'Oreal China 欧莱雅（中国）有限公司版权所有</p>
    </div>
  </div>
  <a class="footer_top" href="javascript:;">
    <span>TOP</span>
  </a>
  <div class="shu_infor">
    <div>在线咨询</div>
    <div>
      <img src="../img/footer/dianhua.png" alt="">
      400-820-6499
    </div>
    <div>关注我们</div>
  </div>
  <!-- 注册 -->
  <div class="default-dialog">
    <div class="dialog-bg"></div>
    <div class="dialog">
      <div class="icon-close" id="register_close"><img src="../img/icon/chahao.png" alt=""></div>
      <div class="dialog-content">
        <h1>注册成为会员</h1>
        <div class="login-line">
          我是已注册用户，前往<a href="javascript:;">登录</a>
        </div>
        <div class="form-wrap">
          <div class="form">
            <div class="default_form">
              <div class="radio_item">
                <b>称谓</b>
                <label class="test-label">
                  <input class="test-radio" type="radio" name="radio" value="先生">
                  <span class="test-radioInput"></span>先生
                </label>
                <label class="test-label">
                  <input class="test-radio" type="radio" name="radio" value="女士">
                  <span class="test-radioInput"></span>女士
                </label>
                <label class="test-label">
                  <input class="test-radio" type="radio" name="radio" value="小姐">
                  <span class="test-radioInput"></span>小姐
                </label>
                <span>(* 必填项)</span>
              </div>
              <div class="form_item">
                <label>您的邮箱/手机号<i>*</i></label>
                <input type="text" name="rephone">
                <span id="chahao" style="opacity: 0;"><img src="../img/icon/叉号.png" alt="">您的邮箱或手机号格式不正确</span>
                <span id="duihao" style="opacity: 0;"><img src="../img/icon/对号.png" alt=""></span>
              </div>
              <div class="form_item">
                <label>姓名</label>
                <input type="text" name="rename">
              </div>
              <div class="form_item">
                <label>密码<i>*</i></label>
                <input type="password" name="repwd" placeholder="密码为6位数字组合">
                <span id="chahao" style="opacity: 0;"><img src="../img/icon/叉号.png" alt="">密码格式不正确</span>
                <span id="duihao" style="opacity: 0;"><img src="../img/icon/对号.png" alt=""></span>
              </div>
              <div class="form_item">
                <label>确认密码<i>*</i></label>
                <input type="password" name="tworepwd">
                <span id="chahao" style="opacity: 0;"><img src="../img/icon/叉号.png" alt="">两次密码不一致</span>
                <span id="duihao" style="opacity: 0;"><img src="../img/icon/对号.png" alt=""></span>
              </div>
              <div class="form_item checkcode">
                <label>请输入验证码<i>*</i></label>
                <input type="text" placeholder="输入验证码" name="recode">
                <span id="chahao" style="opacity: 0;"><img src="../img/icon/叉号.png" alt="">验证码输入不正确</span>
                <span id="duihao" style="opacity: 0;"><img src="../img/icon/对号.png" alt=""></span>
                <div>
                  <img src="../img/icon/checkcode.png" alt="">
                  <div>
                    <p>看不清？</p>
                    <a href="javascript:;">换一张</a>
                  </div>
                </div>
              </div>
              <div class="form_item checkcode">
                <label>短信验证码<i>*</i></label>
                <input type="text">
                <div>
                  <button>获取短信验证码</button>
                </div>
              </div>
              <div class="form_item checkagree">
                <input type="checkbox" id="myagree">
                <label for="myagree">
                  我同意依照本<a href="javascript:;">使用条款</a>和<a
                    href="javascript:;">隐私政策</a>对我的个人信息进行收集和使用；我已阅读并确认被给予充分机会理解该<a href="javascript:;">使用条款</a>和<a
                    href="javascript:;">隐私政策</a>的内容。<i>*</i>
                </label>
              </div>
            </div>
          </div>
          <button class="btn-black" id="register">立即注册</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../javascripts/login.js"></script>
<script src="../javascripts/ajax.js"></script>
<script src="../javascripts/insertcart.js"></script>
<script src="../javascripts/registerpart.js"></script>
<script src="../javascripts/showcart.js"></script>
<script>
  function getScrollTop() {
    var scrollTop = 0;
    if (document.documentElement && document.documentElement.scrollTop) {
      scrollTop = document.documentElement.scrollTop;
    } else if (document.body) {
      scrollTop = document.body.scrollTop;
    }
    return scrollTop;
  }
  document.onscroll = function () {
    var distance = getScrollTop();
    var divhead = document.querySelectorAll('[data-fix]');
    var gouwudai = document.querySelectorAll('[data-gouwudai]');
    var targettop = document.getElementsByClassName('footer_top');
    var shu_infor = document.getElementsByClassName('shu_infor');
    if (distance > 40) {
      divhead[0].className = "head pfix";
      gouwudai[0].style.display = "inline-block";
      targettop[0].style.display = "block";
      shu_infor[0].style.display = "block";
    } else {
      divhead[0].className = "head";
      gouwudai[0].style.display = "none";
      targettop[0].style.display = "none";
      shu_infor[0].style.display = "none";
    }
  }
</script>
<script>
  // 搜索框显示与消失
  var searchbox = document.querySelectorAll("[data-searchbox]");
  var headsearch = document.getElementsByClassName("headsearch");
  var input = headsearch[0].firstElementChild.firstElementChild;
  var headse = document.getElementsByClassName('head')[0];
  searchbox[0].onclick = function () {
    //如果搜索框是显示状态，点击按钮时就让他消失
    if (headsearch[0].style.display == 'block') {
      headsearch[0].style.display = 'none';
      zhezhao.style.display = 'none'
      zhezhao.style.zIndex = 4
    } else {
      //如果搜索框隐藏，点击按钮让他出现
      headsearch[0].style.display = 'block';
      zhezhao.style.height = document.body.clientHeight + 'px'
      zhezhao.style.display = 'block'
      zhezhao.style.zIndex = 3
      input.focus();
    }
  }
</script>
<script>
  var reback = document.getElementsByClassName('footer_top')[0];
  reback.onclick = function () {
    window.scrollTo(0, 0)
  }
</script>
<script>
  var tabs = document.getElementsByClassName('profile_left')[0].firstElementChild.children;
  var tabselects = document.getElementsByClassName('profile_center')[0].children;

  function changeDisplay(items) {
    for (let i = 0; i < items.length; i++) {
      items[i].style.display = 'none';
    }
  }

  function changeclassName(items) {
    for (let i = 0; i < items.length; i++) {
      items[i].className = '';
    }
  }
  for (let i = 0; i < tabs.length; i++) {
    tabs[i].onclick = function () {
      changeDisplay(tabselects);
      changeclassName(tabs);
      tabs[i].className = 'active';
      tabselects[i].style.display = 'block'
      if (tabs[i].className == 'active' && navtitle.lastElementChild.innerHTML != tabs[i].innerHTML) {
        navtitle.lastElementChild.innerHTML = tabs[i].innerHTML;
      }
    }
  }
  // 根据页面传过来的值判断显示哪部分内容
  function editcheck(edit) {
    changeDisplay(tabselects);
    changeclassName(tabs);
    edit[0].className = 'active';
    edit[1].style.display = 'block';
    navtitle.lastElementChild.innerHTML = edit[0].innerHTML;
  }
  var editkey = window.location.search.slice(6);
  switch (editkey) {
    case 'order':
      editcheck(order);
      break;
    case 'address':
      editcheck(address);
      break;
    case 'vouchers':
      editcheck(vouchers);
      break;
    case 'use':
      editcheck(use);
      break;
    case 'sample':
      editcheck(sample);
      break;
    case 'wishlist':
      editcheck(wishlist);
      break;
  }
  // 登录
  var displayname = document.querySelector('.htr_loginsuccess>div>h2>span');
  var uname = document.getElementsByName('uname')[0];
  uname.onblur = function () {
    var spanchahao = this.nextElementSibling;
    var spanduihao = this.nextElementSibling.nextElementSibling;
    var regphone = /^1[3-9]\d{9}$/;
    var regemail = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
    var resultphone = regphone.test(this.value);
    var resultemail = regemail.test(this.value);
    if (resultphone == true || resultemail == true) {
      spanduihao.style.opacity = 1;
      spanchahao.style.opacity = 0;
    } else {
      spanduihao.style.opacity = 0;
      spanchahao.style.opacity = 1;
    }
  }
  var upwd = document.getElementsByName('upwd')[0];
  login.onclick = function () {
    var unameVal = uname.value;
    var upwdVal = upwd.value;
    ajax({
      type: 'post',
      url: 'http://127.0.0.1:3000/users/login',
      data: `usercount=${unameVal}&upwd=${upwdVal}`,
      dataType: 'json'
    }).then(res => {
      if (res.code == 201) {
        alert('账号或密码错误，登录失败！')
        uname.value = '';
        upwd.value = '';
      } else {
        var user_info = res.result[0];
        var putuserinfo = JSON.stringify(user_info);
        window.localStorage.setItem('user', putuserinfo);
        loginDisplay(res.msg);
        displayname.innerHTML = user_info.u_name;
        htrloginsuccess.firstElementChild.innerHTML = user_info.u_name;
      }
    })
  }
  //显示登录的用户名
  // 根据登录的数据显示用户的信息
  var iteminfojson = window.localStorage.getItem('user');
  if (iteminfojson) {
    var iteminfo = JSON.parse(iteminfojson);
    htrloginsuccess.firstElementChild.innerHTML = iteminfo.u_name;
    displayname.innerHTML = iteminfo.u_name;
    var name = htrloginsuccess.firstElementChild.innerHTML;
    welcomeuser.innerHTML = `欢迎 ${name}`;
    var radiouses=document.querySelectorAll('.test-label');
    for (const radiouse of radiouses) {
      if (iteminfo.sex==radiouse.lastChild.data.slice(0,2)) {
        radiouse.firstElementChild.className='test-radio checked'
        console.log(radiouse.firstElementChild);
      }
    }
    showname.value=iteminfo.u_name;
    showbirth.value=iteminfo.birth;
    showphone.value=iteminfo.u_phone;
    if (iteminfo.u_email.length>11) {
      showemail.value=iteminfo.u_email;
    }
    loginDisplay('yes')
  }
  for (const outItem of loginout) {
    outItem.onclick = function () {
      window.localStorage.removeItem('user');
      location.href = '/'
      loginDisplay('no');
    }
  }
  // 加入购物车实现
  insertcart(1);
</script>
<script>
  // 搜索框功能实现
  var sousuo = document.querySelector('.headsearch_content>div');
  var sousuoInput = document.querySelector('.headsearch_content>input')
  console.log(sousuoInput);
  sousuo.onclick = function () {
    var sousuoContent = sousuoInput.value;
    location.href = `searchpro.html?search=${sousuoContent}`
  }
  sousuoInput.onkeyup = function (e) {
    if (e.keyCode == 13) {
      var sousuoContent = sousuoInput.value;
      location.href = `searchpro.html?search=${sousuoContent}`
    }
  }
</script>
<!-- 点击出现注册页面 -->
<script>
registerpart();
</script>
<!-- 显示购物袋内商品 -->
<script>
  showcart();
</script>

</html>